.body{
    background-color: rgb(141, 236, 147);
    background-size: cover;
    height: 80%;
    width: 80%;
    border-radius: 7px;
    border: 80%;
    border-color:grey;
    margin: 20PX;

}
header{
    height: 100px;
    width: 100%;
    color: black;
    background-color: rgb(64, 143, 20);
    
}
.card1{
height: 500px;
width: 300px;
background-color: rgb(64, 143, 20);
float:right;
margin-top: -30px;
border-radius: 16px;
border: 2px;
border-color: black;
}
#image{
    background-image: url(images/profile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin:40px;
    border-radius: 16px;
    width: 200px;
    height: 400px;

}
/* #card2{
    text-align: center;
    padding: 5px;
    margin-bottom: 400px;
     
} */
.card3{
    margin-top: 100px;
    width: 400px;
    height: 300PX;

}