body{
   
   margin: 10px;
   border: 2px double green;
   padding: 2px;
   height: 1000px;
   background-image: url("images/z.jpg");
   background-repeat: no-repeat;
   background-size: contain;
}
header{
    height: 100px;

}
.logo{
    background-image: url("images/logo2.jpeg");
    height:100px;
    float: left;
    background-size: cover;
}
.signup{
    float:center;
    
}

.flex-container{
    display: flex;
    flex-direction: column;


}

.vertical-align{
    display: table; width:100%;
}
/* 
.image{
    margin: 1px;
    background-color: white;
    background-image:url("images/newfronts.png");
    background-size:cover; 
    background-repeat: no-repeat;

    height: 500px;
    width: 700px;
    background-size: cover;
}*/
.card{ 
    margin-top: -300px;
    border-radius: 10px;
    border-right: 47px;
    float: right;
    padding: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;

    
}
.quote{
    margin: 5px;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 30px;
    width: 500px;
    color: white;
    margin-left: 100px;
    float: right;
}
.login{
    margin: 2px;
    width:500px;
    border-radius: 50px;   
    /* margin-left: 1000px; */
    padding: 20px; 
    height: 350px;
    float: right;

}
